div.list-container {
    display: grid;
    grid-template-columns: 1fr 5fr 10em;
    grid-row-gap: 1em;

    background: white;
    width: 50em;
    padding: 2em 1em 2em 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;

    margin-top: 100px;
    margin-bottom: 100px;
}

div.list-container.mobile {
    display: block;
    box-shadow: none;
    background: transparent;
    width: 100% !important;
    padding: 1em !important;
    margin: 0 !important;
}

.list-header {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
    grid-column: 1 / -1;
}

.list-header.mobile {
    text-align: left;
    color: white;
    font-size: 8em;
    padding: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

.mobile-list-item {
    font-family: 'Quicksand', sans-serif;
    color: black;
    display: block;
    font-weight: bold;
    font-size: 4em;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
    display: grid;
    position: relative;
    grid-template-columns: 3fr 1fr;
}

.mobile-list-item-edit-text {
    font-size: 1em;
    font-weight: bold;
    color: #0075ff;
    border: none;
    background: transparent;
    font-family: 'Quicksand', sans-serif;
    outline: none;
}

.mobile-list-item-checkbox-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.mobile-list-item-checkbox {
    height: 100%;
    width: 100%;
}

.mobile-list-item-due-time {
    text-align: right;
    color: darkgray;
    font-size: 0.5em;
    font-weight: normal;
    padding-top: 0.5em;
}

.list-item {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    vertical-align: middle;
    text-decoration-color: #0075ff;
}

.list-item:not(:nth-last-child(-n+1)) {
    padding-bottom: 0.5em;
    border-bottom: #ccc 1px solid;
}

.add-button-container {
    grid-column: 1 / -1;
}

button.add-button {
    padding: 0.7em 0 0.7em 0;
    width: 100%;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}

button.add-button.mobile {
    font-size: 5em;
    padding: 20px;
    font-size: 4em;
    background: transparent;
    border: 10px dashed white;
    border-radius: 40px;
    box-sizing: border-box;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
}

button.add-button:hover {
    background: #eee;
}

button.add-button.mobile:hover {
    background: transparent;
}

.list-item-checkbox-container {
    position: relative;
}

.list-item-checkbox {
    position: absolute;
    top: 0.17em;
    left: 30%;

    transform: scale(3);
}

body {
    background-color: #0075ff;
    margin: 0;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    height: auto;
    background: white;
    z-index: 100;
    padding: 1em;
    box-shadow: 0 0 10px black;
}

.popup.mobile {
    width: 90%;
    font-size: 3em;
}

input.list-item[type=text] {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #0075ff;
}

input.list-item[type=text]:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.2em;
}

.popup > h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    padding: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
}

.popup > input, .popup > button.popup-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    padding: 0.5em;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 0.3em;
    box-sizing: border-box;
}

.popup > .close-button {
    top: 0;
    right: .3em;
    position: absolute;
    padding: 0.5em;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    color: red;
    border: none;
    background:rgba(0, 0, 0, 0);
}

.context-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 10px;
    width: 12em;
}

.context-menu.hidden {
    transform: scale(0);
}

.context-menu {
    transform: scale(1);
    transition: transform 0.15s ease-in-out;
}

.context-menu.mobile {
    width: 30%;
    font-size: 3em;
}

.context-menu > button:nth-child(1) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}

.context-menu > button:nth-child(2) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.context-menu > button {
    box-sizing: border-box;
    padding: 0.3em;
    width: 100%;
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}

.context-menu > button:hover {
    background: #eee;
}

#loading {
    grid-column: 1 / -1;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    text-align: center;
}